$exodofont: "EudoxusSans", sans-serif;

// Font weigth
$font-weight-300: 300;
$font-weight-300: 400;
$font-weight-300: 500;
$font-weight-300: 600;
$font-weight-300: 700;
$font-weight-300: 900;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include font-face("EudoxusSans", "../fonts/Eudoxus-Sans-font/EudoxusSans-Bold", 700, normal, ttf);
@include font-face("EudoxusSans", "../fonts/Eudoxus-Sans-font/EudoxusSans-Medium", 500, normal, ttf);
@include font-face("EudoxusSans", "../fonts/Eudoxus-Sans-font/EudoxusSans-Regular", 400, normal, ttf);
