.footer{
     font-family: $exodofont;
     @apply
     md:flex
     md:justify-between;

     &__logoContent{
          @apply
          mb-6
          md:mb-0;

          &-logo{
               @apply
               xl:mt-[10px]
               xl:w-[130.05px]
               xl:h-auto;
          }

          &-paragraph{
               font-weight: $font-weight-500;
               @apply
               mt-[20px] 
               xl:mt-[40px] 
               xl:w-[505px] 
               xl:leading-[32.4px] 
               text-paragraph-color 
               text-[14px] 
               xl:text-[18px]
          }
     }

     &__menuFooter {
          @apply
          grid 
          grid-cols-3 
          gap-8 
          sm:gap-[30px] 
          sm:grid-cols-3 
          xl:gap-[104px]
     }
}