.nav{
     display: flex;
     flex-direction: row;
     justify-content: space-between;     
}

hr{
     stroke-width:1.5px;
     background:#f3f3f3;
}


.btn{
     display: flex;
     flex-direction: column;
     width: 30px;
     height: 30px;
     border: 0;
     background: transparent;
     gap: .35rem;
}

.btn > div {
     background: black;
     height: 2px;
     width: 100%;
     border-radius: 5px;
     transition: all .8s;
     transform-origin: left;
}

.btn:hover div:first-child {
     transform: rotate(45deg)
}

.btn:hover div:nth-child(2) {
     opacity: 0;
}

.btn:hover div:last-child {
     transform: rotate(-45deg)
}